
.main-bg
{
    color: var(--white-color);
    background-image: url('../img/main-bg.png');
    background-size: cover;
    background-position: center center;
 /* background by SVGBackgrounds.com */
}

.white-bg
{
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content
{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section
{
    min-height: 50vh;
}

body .full-width
{
    width: 100%;
    flex: 1 1 100%;
}

@font-face {
  font-family: 'CaligrafW';
  src: url('caw.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neusa-Regular';
  src: url('Neusa-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.txt-conteudo{
    font-family: 'Neusa-Regular';
    font-size: 2.5rem;
}

.titulo-secao {
  font-family: 'CaligrafW', cursive;
  color: #576A4F; /* tom semelhante ao da imagem */
  font-size: 6rem;
  text-align: center;
  font-weight: bold;
  _line-height: 1.2;
}

.contador {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;
    }

    .bloco {
      background: #576A4F;
      padding: 15px;
      border-radius: 15px;
      min-width: 55px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    }

    .tempo {
      font-size: 2.5rem;
      font-weight: bold;
      color: #FFFFFF;
    }

    .label_contador {
      font-size: 0.9rem;
      margin-top: 5px;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    @media (max-width: 400px) {

      .tempo {
        font-size: 2rem;
      }
    }